{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'schemas/css/schemas.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <title>{{title}}</title>
</head>
<body>
    <!-- <div class="header">
        <div class="left-side">
            <div class="row"><h1>FakeCSV</h1></div>
            <div class="row">Schemas</div>
        </div>

        <div class="right-side"></div>
    </div> -->


        <div class="row">

            <div class="col-2">
              <div class="text-center">
                <p style="font-size: 28px" class="header-line">FakeCSV</p>
              </div>
            </div>

            <div class="col-2">
              <div class="text-start">
                <p class="header-line">Schemas</p>
              </div>
            </div>
        
            {% if request.user.is_authenticated %}
            <div class="col-2 offset-4">
              <div class="text-end">
                <p class="header-line header-right">Hello, <b>{{user.username}}</b></p>
              </div>
            </div>

            <div class="col-2 ">
              <div class="text-start">
                <a href="{% url 'logout' %}" class="header-line header-right">Logout</p>
              </div>
            </div>
            {% else %}
            <div class="col-2 offset-6">
                <div class="text-end">
                  <a href="{% url 'login' %}" class="header-line header-right">login</p>
                </div>
              </div>

            {% endif%}
          </div>


    {% block content%}
    {% endblock %}
    
</body>
</html>