body {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
}


.header-line{
    line-height: 3rem;
}

.header-right{
    color: #808080;
}

p,a {
    text-decoration: none !important; 
}